[Unit]
Description=Timer for trading-day VM startup

[Timer]
OnCalendar=Mon..Fri 08:45
Persistent=true
Unit=vm-scheduler-start.service

[Install]
WantedBy=timers.target
